@import "../../app.component";

  .chat {
    grid-area: chat;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 15px 15px 10px;

      span {
        margin-left: 10px;
      }

      .count {
        margin-right: 15px;
        font-size: .8rem;
      }

    }

    .chat__body {
      height: 100%;

      .name {
        display: inline-block;
        padding: 10px 10px 10px 0;
        margin-left: 10px;
        text-transform: uppercase;
        color: $c-accent;
        position: relative;
        text-shadow: 0 0 1px $c-accent;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $c-accent;
        }
      }

      .message-list {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        /* Hack */
        max-height: 65vh;
        width: 100%;
        overflow-y: auto;
        margin: 5px 0 5px 0;

        .message-list__item {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px;
          max-width: 60%;
          word-wrap: break-word;

          &.received {
            align-items: flex-end;
          }

          &.sent {
            flex-direction: column;
            align-self: flex-end;
            justify-content: flex-end;
            padding-right: 20px;

            .item__info {
              font-size: .8rem;
              align-self: flex-end;
            }
            .item__text {
              text-align: right;
              border-radius: 10px 10px 0 10px;
            }
          }

          .item__info {
            align-self: flex-start;
            font-size: .8rem;

            span {
              font-weight: bold;
            }
          }

          .item__text {
            padding: 10px;
            background-color: #f2f2f2;
            border-radius: 10px 10px 10px 0;
          }
        }

        .user-icon {
          display: flex;
          align-self: flex-start;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 30px;
          width: 30px;
          background-color: rgb(76 175 80);
          font-size: .8rem;
          margin: 10px;
        }
      }

    }
  }

  .chat__input {
    border-top: 2px solid #e0dada;
    height: 60px;

  .chat__input_row {
    display: flex;
    height: 100%;
  }


    .textarea {
      width: 100%;
      outline: none;
      border: none;
      padding: 10px;
    }

    .input-send {
      cursor: pointer;
      outline: none;
      background-color: $c-accent;
      color: #fff;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;
      border: none;

      i {
        font-size: 1.5rem;
      }

      p {
        margin-left: 10px;
      }
    }
  }


