@import "src/app/app.component";

.customers__wrapper {
  max-height: 75vh;
  overflow-y: scroll;
}

.customer__row {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  font: $f-bold;
  font-size: 1rem;

  &.active {
    background-color: $c-accent;
    color: #ffffff;
  }
}
