@import "../constants";

.button {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  color: $c-accent;
  cursor: pointer;
}
.w-100 {
  width: 100%;
}

.flex-row {
  display: flex;
  align-items: center;
}

.iflex-column {
  display: inline-flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.border-b {
  border-bottom: 2px solid #e0dada;
}
.border {
  border: 2px solid #e0dada;
}

.hidden {
  display: none;
}

.user-icon {
  border-radius: 50%;
  background-color: $c-accent;
  padding: 10px;
  color: $c-prime;
  margin: 0 10px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "side main";
  grid-gap: 10px 0;
  margin: 0;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
  height: 100%;
}
.header-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .user-info {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    margin-left: 20px;
    background-color: rgb(228 247 228);

    &__left {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &__time {
      color: $c-prime;
      font-size: 0.8rem;
      text-align: center;
      border-radius: 10px;
      background-color: rgba(42, 108, 42, .7);
    }
  }
}
.side {
  grid-area: side;
  margin: 0 10px 10px 10px;
  background-color: #fff;
  position: relative;

  .customer__row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font: $f-bold;
    font-size: 1rem;

    & .active {
      background-color: $c-accent;
      color: #ffffff;
    }

    .customer__icon {
      height: 100%;
      padding: 12px 15px;
      margin: 10px 15px;
      border-radius: 50%;
      background-color: rgb(241 241 241);


      & i {
        font-size: 25px;
        position: relative;
        color: gray;

        &:after {
          content: '✓';
          color: #ffffff;
          text-align: start;
          line-height: 0.7rem;
          display: block;
          position: absolute;
          top: 2px;
          right: 0px;
          font-size: 10px;
          border-radius: 50%;
          background-color: black;
          width: 10px;
          height: 10px;
          z-index: 2;
        }
        }
      }
    }
  .customer__info {
      display: flex;
      width: 100%;
      align-items: center;
      line-height: 1.5rem;

      .iflex-column {
        width: 70%;
      }

      .info__phone {
        font: $f-small;
        color: gray;
      }

      .info__duration {
        justify-self: flex-end;
        margin: auto;
        font-size: .8rem;
      }
    }

  .history {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 15px 0 0 10px;
    border-top: 2px solid #e0dada;

    &:before {
      content: '';
      margin: 0 auto;
      display: block;
      text-align: center;
      width: 30px;
      border-bottom: 2px solid black;
    }
  }

}
.main {
  grid-area: main;
  display: grid;
  height: 100%;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  grid-template-areas:
  "header header"
  "chat empty";


  .user-panel {
    grid-area: header;
    background-color: #fff;

    .user-panel__top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .user-panel__info {
        display: flex;
        flex-direction: row;
        padding: 15px;

        .user-icon {
          padding: 10px;
          width: 40px;
          height: 40px;
        }

        .info__name {
          font: $f-bold;
          font-size: 1rem;
        }

        .info__phone {
          color: gray;
          font-size: .8rem;
        }
      }

      .user-panel__controls {
        display: flex;
        background-color: #f2f2f2;
        padding: 10px 5px;
        margin-right: 15px;
        border-radius: 10px;

        .button {
          margin: 0 3px;
          background-color: white;
          border: none;

          &.close {
            margin-right: 10px;
            background-color: #d93d32;
            color: white;
            font: 1rem sans-serif;
          }
        }


        .info__duration {
          display: inline-block;
          align-self: center;
          font-weight: 800;
          margin-left: 10px;
        }
      }
    }

    .user-panel__labels {

      .label {
        padding: 0 10px 10px 10px;
        display: inline-block;
        font-size: 0.9rem;
        cursor: pointer;
        position: relative;
        &:not(:nth-of-type(1)) {
          margin-left: 10px;
        }

        &:hover {
          color: $c-accent;
          text-shadow: 0px 0px 1px $c-accent;

          &:after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $c-accent;
          }
        }

        .label__text {
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }

  .chat {
    background-color: white;
    margin: 10px 0 10px 0;
    grid-area: chat;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 15px 15px 10px;

      span {
        margin-left: 10px;
      }

      .count {
        margin-right: 15px;
        font-size: .8rem;
      }

    }

    .chat__body {
      height: 100%;
      overflow-y: hidden;

      .name {
        display: inline-block;
        padding: 10px 10px 10px 0;
        margin-left: 10px;
        text-transform: uppercase;
        color: $c-accent;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $c-accent;
        }
      }

      .message-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow-y: hidden;

        .message-list__item {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px;
          width: 60%;

          &.received {
            align-items: flex-end;
          }

          &.sent {
            flex-direction: column;
            align-self: flex-end;
            justify-content: flex-end;

            .item__info {
              align-self: flex-end;
            }
            .item__text {
              text-align: right;
            }
          }

          .item__info {
            margin: 15px 5px 5px 15px;

            span {
              font-weight: bold;
            }
          }

          .item__text {
            width: 100%;
            padding: 10px;
            background-color: #f2f2f2;
          }
        }

          .user-icon {
            display: flex;
            align-self: flex-start;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 30px;
            width: 30px;
            background-color: rgb(76 175 80);
            font-size: .8rem;
            margin: 10px;
          }
        }

      }
    }

    .chat__input {

      .last-message {
        font-size: 0.9rem;
        padding-left: 10px;

        span {
          font-weight: bold;
        }
      }

      .textarea {
        width: 100%;
        outline: none;
        border: none;
        padding: 10px;
      }

      .input-send {
        outline: none;
        background-color: $c-accent;
        color: #fff;
        padding: 3px 5px;
        justify-content: center;
        align-items: center;

        i {
          font-size: 1.5rem;
        }

        p {
          margin-left: 10px;
        }
      }
    }
  }


header {
  display: flex;
  align-items: center;
  background-color: #fff;
  grid-area: header;

  & .bi-person-check {
    margin-left: 15px;
    color: gray;
  }
}

.logo {
  background-color: #cc0003;
  width: 80px;
  height: 100%;
  text-align: center;
  transform: skewX(20deg);
  padding-right: 17px;
  user-select: none;

  &__text {
    font: 3.5rem 'Philosopher', sans-serif;
    color: $c-prime;
    transform: skewX(-20deg);
    background-color: #cc0003;
    height: 100%;
    //margin: 0 auto;
  }
}

.search {
  border: 1px solid gray;
  padding: 5px 10px;
  margin-left: 25px;
}
.search__input {
  border: none;
  font-style: italic;
  margin-left: 7px;
}

.nav__menu {
  display: flex;
  align-items: center;
  color: gray;

  @media (max-width: 850px) {
    display: none;

    &_mobile {
      display: block;
      font-size: 2em;
      text-align: center;
      margin-right: 20px;
      }
  }

  .nav__item {
    font-size: 20px;
    padding: 10px 20px;

    &:hover {
      color: $c-accent;
    }
  }
}


