<div class="container">
  <header class="header border-b">
    <div class="header-left">
      <div class="logo">
        <div class="logo__text">A</div>
      </div>
      <div class="header__search search">
        <i class="bi bi-search"></i>
        <input class="search__input" type="search" alt="" placeholder="Enter name or number">
      </div>
      <i class="bi bi-person-check" style="font-size: 20px"></i>
    </div>
    <div class="header-right">
      <nav class="nav__menu">
        <a class="nav__item"><i class="bi bi-house" routerLink="/home"></i></a>
        <a href="#" class="nav__item"><i class="bi bi-gear"></i></a>
        <a class="nav__item"><i class="bi bi-headset" routerLink="/chat"></i></a>
        <a href="#" class="nav__item"><i class="bi bi-bell"></i></a>
        <a href="#" class="nav__item"><i class="bi bi-question-circle"></i></a>
      </nav>
      <nav class="nav__menu_mobile hidden">
        <i class="bi bi-list"></i>
      </nav>
      <div class="user-info">
        <div class="user-info__left">
          <div class="user-info__user">Lorem ipsum dolor</div>
          <div class="user-info__time">
          Ready 15:15:15
          </div>
        </div>
        <div class="user-info__right">
          <div class="user-icon">A2</div>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
