<div class="user-panel border">
  <div class="user-panel__top">
    <div class="user-panel__info">
      <div class="user-icon">{{abbr}}</div>
      <div class="iflex-column">
        <p class="info__name">{{(activeChat$ | async).name}}</p>
        <p class="info__phone">{{(activeChat$ | async).phone}}</p>
      </div>
    </div>
    <div class="user-panel__controls">
      <button class="button close" (click)="deleteCurrentChat()">x</button>
      <button class="button change ">
        <i class="bi bi-arrow-left-right"></i>
      </button>
      <button class="button more">
        <i class="bi bi-three-dots"></i>
      </button>
      <p class="info__duration">00:13</p>
    </div>
  </div>
  <div class="user-panel__labels">
    <div class="label">
      <i class="bi bi-person-lines-fill"></i>
      <div class="label__text">Customer details</div>
    </div>
    <div class="label">
      <i class="bi bi-chat"></i>
      <div class="label__text">Chat</div>
    </div>
  </div>
</div>
