// c for color, f for font
$c-second: #f2f2f2;
$c-prime: #fff;
$c-accent: #06f;
$f-small: 500 0.8rem 'Quicksand', sans-serif;
$f-text: 500 1rem 'Quicksand', sans-serif;
$f-title: 700 2rem 'Quicksand', sans-serif;
$f-bold: 700 1.5rem 'Quicksand', sans-serif;

